.task-1 {
  font-size: 25px;
}

.task-1::first-letter {
  font-size: 40px;
  font-weight: bold;
  color: blue;
}

.task-2 {
  font-size: 25px;
}

.task-2::first-line {
  font-size: 40px;
  font-weight: bold;
  background-color: yellow;
}

.important-message {
  font-size: 25px;
}

.important-message::before {
  font-size: 40px;
  content: 'NOTE: ';
  font-weight: bold;
  color: red;
}

.copyright-para::after {
  content: '© 2026';
}

.task-5 ol li:first-child {
  color: red;
}

.task-5 ol li:nth-child(2) {
  font-weight: bold;
}

.task-5 ol li:last-child {
  color: blue;
}

.task-6 ol li:nth-child(odd) {
  background-color: lightgray;
}
.task-6 ol li:nth-child(even) {
  background-color: rgb(160, 159, 159);
}

#git {
  font-size: 25px;
  color: red;
}

#Linkedin {
  font-size: 25px;
  font-weight: bold;
}
