<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [href]="homePath"
          >Home</a
        >
        <a class="nav-link" [href]="aboutPath">About</a>
        <a class="nav-link" [href]="contactPath">Contact</a>
        <a class="nav-link" [href]="adminPath">Admin</a>
      </div>
    </div>
  </div>
</nav>
