* {
  background-color: rgb(205, 238, 248);
}

header .logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(18, 17, 17);
}

header .menu_items {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

header .menu_items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(48, 156, 192);
  padding: 8px 12px;
  border-radius: 20px;
}
