* {
  background-color: rgb(223, 248, 255);
}

header .logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(18, 17, 17);
}

header .menu_items {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

header .menu_items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(48, 156, 192);
  padding: 8px 12px;
  border-radius: 20px;
}

main {
  padding: 20px;
}

.featured-article {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-image {
  float: left;
  width: 200px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.featured-article p {
  background-color: #ffffff;
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

.featured-article h2 {
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(5, 104, 132);
  border-radius: 15px;
}

.navbar .logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: inherit;
}

.navbar .menu_items {
  display: flex;
  gap: 20px;
  background-color: inherit;
}

.navbar .menu_items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  background-color: inherit;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.container div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  background-color: rgb(1, 44, 56);
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-info {
  padding: 10px 20px;
  font-size: 19px;
  text-align: center;
  background-color: inherit;
}

.footer-info p {
  background-color: inherit;
}

.footer .footer-links {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background-color: inherit;
}

.footer .footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  background-color: inherit;
}
