* {
  background-color: rgb(205, 238, 248);
}

header .logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(18, 17, 17);
}

header .menu_items {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

header .menu_items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(48, 156, 192);
  padding: 8px 12px;
  border-radius: 20px;
}

main {
  padding: 20px;
}

.featured-article {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-image {
  float: left;
  width: 200px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.featured-article p {
  background-color: #ffffff;
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

.featured-article h2 {
  background-color: #ffffff;
}
